################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/jcPF.WPF/bin/Debug
/src/jcPF.WPF/obj/Debug
/src/.vs/jcPF/v15/.suo
/src/packages